<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.sonyericsson.android.camera" platformBuildVersionCode="4472847" platformBuildVersionName="2.2.2.A.0.15">
    <permission android:name="com.sonymobile.permission.SOMC_CAMERA" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.sonymobile.permission.CAMERA_ADDON_LOG" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.sonymobile.helpapp7.HELP"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_ADDON"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_STATUS_PROVIDER"/>
    <uses-permission android:name="com.sonymobile.permission.IMAGE_PROCESSOR"/>
    <uses-permission android:name="com.sonymobile.permission.SOMC_CAMERA"/>
    <uses-permission android:name="com.sonymobile.permission.CAMERA_ADDON_LOG"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <compatible-screens/>
    <application android:allowBackup="false" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@drawable/cam_application_common_icn" android:label="@string/cam_strings_application_name_txt" android:name="com.sonyericsson.android.camera.CameraApplication" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        <receiver android:name="com.sonyericsson.android.camera.CameraButtonIntentReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.sonymobile.camerauicommon.provider" android:exported="false" android:name="com.sonyericsson.android.camera.provider.CameraUISettingsProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:label="@string/cam_strings_application_name_txt" android:launchMode="singleTask" android:maxAspectRatio="2.0" android:name="com.sonyericsson.android.camera.CameraActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sonymobile.camera.addon.action.REGISTER_MODE"/>
            </intent-filter>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_ATTRIBUTES" android:resource="@xml/mode_scenerecognition"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_NAME" android:value="SCENE_RECOGNITION"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_ICON" android:resource="@drawable/cam_cap_mode_camera_icn"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_LABEL" android:resource="@string/cam_strings_capturing_mode_camera_txt"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_DESCRIPTION_LABEL" android:resource="@string/cam_strings_description_camera_txt"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SHORTCUT_ICON" android:resource="@drawable/cam_cap_mode_camera_icn"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SHORTCUT_LABEL" android:resource="@string/cam_strings_capturing_mode_camera_txt"/>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/keyguard_layout"/>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:configChanges="mcc|mnc|keyboardHidden|orientation|uiMode|screenSize" android:excludeFromRecents="true" android:label="@string/cam_strings_application_name_txt" android:launchMode="singleTask" android:name="com.sonyericsson.android.camera.CameraActivityOnLockScreen" android:resizeableActivity="false" android:screenOrientation="portrait" android:taskAffinity="com.sonyericsson.android.camera.fastcapture" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:name="com.sonyericsson.android.camera.fastcapturing.FastCapturingActivity" android:targetActivity="com.sonyericsson.android.camera.CameraActivityOnLockScreen"/>
        <activity android:configChanges="mcc|mnc|keyboardHidden|orientation|uiMode|screenSize" android:excludeFromRecents="true" android:label="@string/cam_strings_application_name_txt" android:name="com.sonyericsson.android.camera.OneshotPhotoActivityOnLockScreen" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:name="com.sonyericsson.android.camera.CameraImageActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:label="@string/cam_strings_application_name_txt" android:launchMode="singleTask" android:maxAspectRatio="2.0" android:name="com.sonyericsson.android.camera.InternalCameraActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:icon="@drawable/cam_app_shortcut_video_camera_icn" android:label="@string/cam_strings_shortcut_video_camera_txt" android:name="com.sonyericsson.android.camera.OneshotVideoActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:icon="@drawable/cam_application_common_icn" android:label="@string/cam_strings_application_name_txt" android:name="com.sonyericsson.android.camera.OneshotPhotoActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.sonyericsson.android.camera.MultiWindowActivity" android:resizeableActivity="true" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:icon="@drawable/cam_app_shortcut_video_camera_icn" android:label="@string/cam_strings_shortcut_video_camera_txt" android:name="com.sonyericsson.android.camera.MultiWindowVideoActivity" android:targetActivity="com.sonyericsson.android.camera.MultiWindowActivity" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.sonyericsson.cameracommon.activity.RequestPermissionActivity" android:resizeableActivity="false" android:theme="@style/SomcCameraTheme"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.sonyericsson.android.camera.SetupWizardActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:theme="@style/SomcCameraTheme"/>
        <activity android:name="com.sonyericsson.android.camera.debug.DebugMenuActivity" android:theme="@style/Theme.DebugMenu">
            <intent-filter>
                <action android:name="com.sonyericsson.debugmenu.ENTRY_INTENT"/>
                <category android:name="com.sonyericsson.debugmenu.ENTRY_CATEGORY"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:exported="false" android:name="com.sonyericsson.cameracommon.activity.RequestPermissionSdCardActivity" android:resizeableActivity="false" android:theme="@style/SomcCameraTheme"/>
        <activity android:configChanges="keyboard|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.sonyericsson.android.camera.view.modeselector.internalmode.googlelens.GoogleLensModeActivity" android:resizeableActivity="false" android:screenOrientation="portrait" android:taskAffinity="com.sonyericsson.android.camera.googlelensmode" android:theme="@style/SomcCameraTheme">
            <meta-data android:name="com.sonymobile.camera.addon.MODE_ATTRIBUTES" android:resource="@xml/mode_googlelens"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_NAME" android:value="GOOGLE_LENS"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_ICON" android:resource="@drawable/cam_cap_mode_google_lens_icn"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_SELECTOR_LABEL" android:resource="@string/cam_strings_capturing_mode_google_lens"/>
            <meta-data android:name="com.sonymobile.camera.addon.MODE_DESCRIPTION_LABEL" android:resource="@string/cam_strings_description_google_lens"/>
            <intent-filter>
                <action android:name="com.sonymobile.camera.addon.action.REGISTER_MODE"/>
            </intent-filter>
        </activity>
        <uses-library android:name="com.sonymobile.camera.addon.api"/>
        <uses-library android:name="com.sonymobile.help.api_1" android:required="false"/>
        <uses-library android:name="com.sonyericsson.idd" android:required="false"/>
        <uses-library android:name="com.google.protobuf-2.3.0" android:required="false"/>
        <uses-library android:name="com.sonymobile.getmore.api" android:required="false"/>
        <uses-library android:name="com.sonymobile.album.internal.albumintent.api" android:required="false"/>
        <uses-library android:name="com.sonymobile.vibrationeffect.api_1" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
